@model WebApplication1.Models.Page2ViewModel

<div>
    @if (Model.UserInfo != null)
    {
        <p>@Model.UserInfo</p>
    }
</div>

<h4>Также люди едят:</h4>

<table class="table">
    <tbody>
        @foreach (var userFood in Model.Users)
        {
                <tr>
                    <td>@userFood</td>
                </tr>
        }
    </tbody>
</table>
